<!DOCTYPE html>
<html>
<head>
  <title>Maria Eduarda Pereira Peres</title>
  <meta charset="utf-8">
  <style>
    .big-message {
      text-align: center;
      padding: 50px;
      font-family: sans-serif;
    }

    .big-message .name {
      font-weight: bold;
      color: red;
      text-transform: uppercase;
      font-size: 30px;
    }

    .big-message .message {
      font-size: 20px;
    }
  </style>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <div class="container big-message">
    <%= yield %>
  </div>
</body>
</html>